@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff;
  color: #333;
}

button {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
